colorama==0.4.5
cvxpy==1.2.1
ecos==2.0.10
numpy==1.23.0
osqp==0.6.2.post5
pandas==1.4.3
prompt-toolkit==1.0.14
pyfiglet==0.8.post1
Pygments==2.12.0
PyInquirer==1.0.3
python-dateutil==2.8.2
pytz==2022.1
qdldl==0.1.5.post2
regex==2022.6.2
scipy==1.8.1
scs==3.2.0
six==1.16.0
termcolor==1.1.0
wcwidth==0.2.5
