#remove ver with "==\d.{3,}"
names 
colorama 
cvxpy 
ecos 
numpy 
osqp 
pandas 
prompt-toolkit 
pyfiglet 
Pygments 
PyInquirer 
python-dateutil 
pytz 
qdldl 
regex 
scipy 
scs 
six 
termcolor 
wcwidth 
